{% extends 'base.html' %}
{% block content %}


<div class="min-h-screen bg-gradient-to-r flex items-center justify-center">
    <div class="bg-gray-100 shadow-md rounded-lg p-6 h-full w-full max-w-2xl">
        <div class="flex flex-wrap justify-around items-center">
            {% for friend in friend_profiles %}
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 mb-6">
                <a href="{% url 'profile' friend.id %}">
                    <div class="text-center">
                        <p id="nickName">{{ friend.nickname }}</p>
                        <img src="" alt="profile pic">
                    </div>
                </a>
                <div class="text-center">
                    <a href="{% url 'remove_friend' friend.id %}">
                        <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded">
                            Remove friend
                        </button>
                    </a>
                </div>
                {% empty %}
                <div class="text-center">
                    <a href="{% url 'fr-index' %}" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
                        <h2 class="text-2xl">Add some friends to get started!</h2>
                    </a>
                </div>                
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}