[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "nary"
verify_ssl = false
name = ""

[packages]
django = "*"
python-decouple = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
