{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen bg-gradient-to-r from-green-300 to-lime-400 flex items-center justify-center">
    <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md">
        {% if object %}
        <h1 class="text-2xl font-bold mb-6 text-center">Edit <span class="text-blue-500">{{object.name}}</span></h1>
        {% endif %}
        <form action="" method="POST" class="space-y-4">
            {% csrf_token %}
            <table class="w-full">
                <tbody>
                    {% for field in form %}
                    <tr class="border-t border-gray-200">
                        <td class="py-3 font-bold">{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                    {% endfor %}

                    {% for photo in profile.photo_set.all %}
                    <img src="{{photo.url}}">
                    {% empty %}
                    <div class="card-panel teal-text center-align">No Profile Picture</div>
                    {% endfor %}
                </tbody>
            </table>
            <div class="flex justify-center">
                <input type="submit" value="Submit!" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            </div>
        </form>
        <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button type="submit">Upload Photo</button>
        </form>
        
    </div>
</div>

{% endblock %}

