{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
        {% load static %}
    <title>ViChat</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
	</head>

	<body class="text-lime-600">

		<nav class="bg-white shadow-lg">
			<div class="max-w-6xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="flex space-x-7">
						<!-- Website Logo -->
						<div>
							<!-- <a href="#" class="flex items-center py-4 px-2">
								<img src="logo.png" alt="Logo" class="h-8 w-8 mr-2" />
								<span class="font-semibold text-gray-500 text-lg"
									>Navigation</span
								>
							</a> -->
						</div>
						<!-- Primary Navbar items -->
						<div class="flex items-center justify-between px-4 py-6">
							<a
								href="/"
								class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold "
								>Home</a
							>
							{% if user.is_authenticated %}
							<a
							href="{% url 'profile' user.id %}"
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Profile</a
							>
							<a
							href="{% url 'friends_list' %}"
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Friends</a
						>
						<a
							href=""
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Video</a
							>
							<div class="flex items-center justify-end px-4 py-6 mr-8">
								<a
								href="{% url 'logout' %}"
								class="justify-end py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 space-x-4"
								>Log out</a
								>
								</div>
							{% else %}
							<a
							href="{% url 'signup' %}"
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Sign up</a
							>
							<a
							href="{% url 'login' %}"
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Log in</a
							>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</nav>
	

		<main>





<section id="video-streams"></section>

<section id="controls-wrapper">
    <div class="icon-wrapper">
        <div class="cotnrols-wrapper" id="mic-btn">Mic</div>
    </div>

    <div class="icon-wrapper">
        <div class="cotnrols-wrapper" id="camera-btn">Camera</div>
    </div>

    <div class="icon-wrapper">
        <a href="{% url 'main' %}">
            <div class="cotnrols-wrapper">Leave</div>
        </a>
    </div>
</section>

<section></section>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.17.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>

</main>
</body>

</html>
