{% extends 'base.html' %}

{% block content %}
<h5>Add friend</h5>
<ul class="allUsers">
    <table>
        <tbody>
            {% for user1 in allusers %}

            {% if user1 not in friends_list %}
            {% if user1 != request.user %}

            <tr>
                <td>
                    <h1>{{user1.username}}</h1>
                </td>

                <td>
                    <a href="/send_friend_request/{{user1.id}}/">
                        <button
                            class="mr-1 mb-1 px-8 py-3 bg-gray text-base font-bold text-blue-500 uppercase focus:outline-none">Send
                            Friend Request</button>
                    </a>
                </td>
            </tr>

            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Friend</th>
                <th>Requests</th>
            </tr>
        </thead>
        <tbody>

            {% for friend_request in all_friend_requests %}


            <tr>
                <td>
                    <h1> {{friend_request.from_user.username}}</h1>
                </td>
                <td>
                    <a class="mr-1 mb-1 px-8 py-3 bg-gray text-base font-bold text-blue-500 uppercase focus:outline-none"
                        href="/accept_friend_request/{{friend_request.id}}/">accept friend request</a>
                </td>
            </tr>

            {% empty %}
            <h2>No Friend Requests right now</h2>
            {% endfor %}
        </tbody>
    </table>
</ul>

{% endblock %}