{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen bg-gradient-to-r from-green-400 to-lime-300 flex items-center justify-center">
    <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-2xl">
        <h5 class="text-2xl font-bold mb-6 text-center">Add Friend</h5>
        <div class="space-y-6">
            <table class="w-full mb-6">
                <tbody>
                    {% for user1 in allusers %}
                    {% if user1 not in friends_list %}
                    {% if user1 != request.user %}
                    <tr class="border-t border-gray-200">
                        <td class="py-3">
                            <h1 class="font-medium">{{user1.username}}</h1>
                        </td>
                        <td class="text-right">
                            <a href="/send_friend_request/{{user1.id}}/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Send Friend Request
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <table class="w-full">
                <thead>
                    <tr>
                        <th class="text-left font-bold">Friend</th>
                        <th class="text-right font-bold">Requests</th>
                    </tr>
                </thead>
                <tbody>
                    {% for friend_request in all_friend_requests %}
                    <tr class="border-t border-gray-200">
                        <td class="py-3">
                            <h1 class="font-medium">{{friend_request.from_user.username}}</h1>
                        </td>
                        <td class="text-right">
                            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" href="/accept_friend_request/{{friend_request.id}}/">
                                Accept Friend Request
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="text-center py-3">
                            <h2 class="font-medium text-gray-500">No Friend Requests right now</h2>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
