{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white shadow-md rounded-lg p-6 my-4 w-full max-w-md">
        <div class="flex flex-col items-center">
            <img src="{{ profile.profile_pic }}" alt="{{ profile.nickname }}'s profile picture" class="w-48 h-48 object-cover rounded-full mt-4 mb-6">
            <p class="text-lg font-bold mb-4">{{ profile.nickname }}</p>
        </div>
        {% if profile.user == request.user %}
        <div class="flex justify-around">
            <a href="{% url 'fr-index' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Check Friend Requests</a>
            <a href="{% url 'profile_update' profile.id %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit Profile</a>
        </div>
        {% else %}   
        
        <div>
            <div>
                {% for message in chatHistory.message_set.all %}
                    <div>
                        <p>{{ message.user.nickname }}</p>
                        <p>{{ message.content }}</p>
                    </div>
                {% endfor%}
            </div>
        </div>
        
        <div >
            <form method="post" action="." class="flex">
                <input type="text" name="content" placeholder="Your message here...">
        
                <button>Send</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
        const userName = JSON.parse(document.getElementById('json-username').textContent)

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        chatSocket.onmessage=function(e){
            console.log('onmessage')
            const data = JSON.parse(e.data);
            if(data.message){
                let html = '<div class="p-4 bg-gray-200 rounded-xl">';
                html += '<p class="font-semibold">'+ data.username +'</p>';
                html += '<p>'+data.message + '</p>';
                html += '</div>'

                document.querySelector('#chat-messages').innerHTML += html;

                scrollToBottom();
            }
            else{
                alert('The message was empty!')
            }
        }

        chatSocket.onclose=function(e){
            console.log('onclose')
        }

        document.querySelector('#chat-message-submit').onclick = function(e){
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName, 
                'room': roomName
            }));

            messageInputDom.value = '';

            return false;
        }

        function scrollToBottom(){
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }
        scrollToBottom();
    </script>
{% endblock %}

